* {
    overflow: hidden;
}

.contain {
    position: relative;
    width: 1400px;
    height: 690px;
    top: 0;
    left: 0;
}

.m {
    border: 1px #000 solid;
    margin: 20px;
    width: 300px;
    height: 200px;
}

.main_1 {
    position: absolute;
    width: 350px;
    height: 690px;
    top: -20px;
    left: -20px;
}

.main_2 {
    position: absolute;
    width: 350px;
    height: 690px;
    top: -20px;
    right: -20px;
}

#main_map {
    position: absolute;
    width: 720px;
    height: 690px;
    top: -20px;
    left: 340px;
}

.header {
    width: 720px;
    height: 180px;
}

p {
    top: 0;
    font-size: 50pt;
    text-align: center;
    color: #fff
}

.map {
    width: 700px;
    height: 450px;
}

.map_top {
    font-size: 15px;
    text-align: center;
    color: rgb(178, 210, 241)
}

#main3_1 {
    width: 147.5px;
    height: 200px;
}

#main3_2 {
    width: 147.5px;
    height: 200px;
}

#main5_1 {
    width: 147.5px;
    height: 200px;
}

#main5_2 {
    width: 147.5px;
    height: 200px;
}

.pie {
    display: inline-block;
}

.tar {
    display: inline-block;
}